.nav-item {
    margin-top: 14px;
    font-size: 20px;
    text-shadow: 2px 2px 4px #000000;
    margin-left: 30px;
}

.nav-item:hover {
    background-color: #111;
    border-radius: 15px;
    box-shadow: 0 0 20px rgb(216, 243, 255);
}

.logo {
    padding: 12px;
    width: 60px;
    height: 60px;
    float: left;
}


.header-title {
    margin-left: 20px;
    font-size: 40px;
    font-weight: bold;
    text-shadow: 2px 2px 4px #000000;
}

.nav-ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 3px outset white;
    background-color: #4d5466;
  }
  
.float-left {
    float: left; 
}

.float-right {
    float: right;
    margin-right: 70px;
    margin-top: 28px;
}
  
.li-a {
    /* display: block; */
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

