.header-title {
    text-align: center;
    font-size: 30px;
    margin: 0 auto;
    padding: 15px 10px;
    width: 89%;
    box-shadow: 10px 3px 111px 7px rgba(250,250,250,1);
    border-radius: 5px 5px 0 0;
}