#editHospSelected {
    display: none;
}

.newMedicalBill-content {
    margin: 0 auto;
    border: 2px solid #61dafb;
    text-align: center;
    width: 40%;
    margin-top: 70px;
    padding: 0 0 20px 0;
    
}

.newMedicalBill-title {
    text-shadow: 2px 2px 4px #000000;
    padding-top: 0;
    background-color: #4d5466;
    border: 3px outset white;
    margin-top: 0;
    /* width: 100%; */
    
}

.typeOfProcedure-content {
    margin-top: 0;
}

.newBill-label {
    margin-bottom: 100px;
}