.allEditMedical {
    margin: 0 auto;
    margin-top: 70px;
    text-align: center;
    width: 70%;
    border: 2px solid #61dafb;
}

.EditMedSubmit {
    margin-bottom: 20px;
}

.EditMedical-title {
    text-shadow: 2px 2px 4px #000000;
    padding-top: 0;
    background-color: #4d5466;
    border: 3px outset white;
    margin-top: 0;
}

.editMedicalBill-p {
    font-size: 20px;
    margin: 7px;
}