.map-title {
    text-align: center;
    font-size: 30px;
    text-shadow: 2px 2px 4px #000000;
}

.mapStyle {
    position: relative;
}

.location-searched {
    text-align: center;
}

.infoWindow {
    color: black;
    font-size: 15px;
}
